.main{
    background-color: #484848;
}

.navar{
    display: flex;
    flex-direction: row;
}
h1{
    color: blueviolet;
}

.button-container{
    color: blue;
    display: flex;
    width: 300px;
    height: 30px;
    flex-direction: column;
}
.u{
    border: 1px solid black;
    width: 300px;
    height: 35px;
    display: block;
}

.b{
    width: 200px;
    height: 215px;
}